@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --footer-bg: #000836;
  --light-green: #73BC45;
  --white: #fff;
}

html, body, a, p, header, footer, form, section, article, textarea, input, ul, li, ol, h1, h2, h3, h4, h5, h6, span, div, button, select, option, label, table, tr, td, th, thead, tbody, tfoot, caption, blockquote, pre, code, address, dl, dt, dd, fieldset, legend, object, iframe, img, small, strong, em, b, i, u, s, del, ins, sup, sub, abbr, acronym, q, cite, dfn, samp, kbd, var, tt, center, object, embed, param, video, audio, canvas, details, summary, menu, menuitem, command, keygen, mark, output, progress, meter, time, datalist {
  padding: 0;
  margin: 0;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

ul, li, ol {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.home-about-us {
  display: block;
  width: 100%;
  background: url(../images/homeaboutbackground.png) no-repeat center center;
  padding: 150px 0 0;
  min-height: 1130px;
}
.home-about-us .about-us h2 {
  font-size: 33px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
  position: relative;
  padding-left: 110px;
  word-spacing: 2px;
}
.home-about-us .about-us h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background: var(--light-green);
  left: 0;
  top: 20px;
}
.home-about-us .about-us h2::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--white);
  left: 60px;
  top: 12px;
  transform: rotate(45deg);
}
.home-about-us .about-us p {
  font-size: 14px;
  color: var(--white);
  padding-left: 110px;
}
.home-about-us .aboutus-three-img {
  display: block;
  margin-bottom: 100px;
}
.home-about-us .aboutus-three-img li {
  display: inline-block;
  width: 33.33%;
}
.home-about-us .aboutus-three-img li p {
  font-size: 16px;
  color: var(--white);
}
.home-about-us .aboutus-three-img li:first-child {
  width: 33%;
}
.home-about-us .aboutus-three-img li:nth-child(2) {
  width: 20%;
  top: 30px;
  position: relative;
}
.home-about-us .aboutus-three-img li:last-child {
  width: 20%;
  position: relative;
  top: -70px;
}
.home-about-us .triangle-object {
  display: block;
}
.home-about-us .triangle-object img {
  width: 80%;
}

.foot {
  display: block;
  background: var(--footer-bg);
  padding-top: 70px;
}
.foot .footer-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  color: #fff;
  border-bottom: 1px solid #ccc;
}
.foot .footer-location .location {
  display: flex;
  position: relative;
}
.foot .footer-location .location::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  right: -30px;
  top: 0;
}
.foot .footer-location .location:last-child::after {
  display: none;
}
.foot .footer-location .location .location-info {
  padding-left: 20px;
}
.foot .footer-location .location .location-info h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.foot .footer-location .location .location-info p {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}
.foot .footer-company-info {
  display: block;
  padding: 50px 0 0 50px;
}
.foot .footer-company-info p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
.foot .footer-links {
  display: block;
}
.foot .footer-links .links {
  display: block;
}
.foot .footer-links .links li {
  display: inline-block;
  width: 45%;
  line-height: 40px;
  font-size: 18px;
}
.foot .footer-links .links li:nth-child(odd) {
  border-right: 1px solid #73BC45;
}
.foot .footer-links .links li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding-left: 20px;
}
.foot .footer-social {
  display: block;
  width: 30%;
}
.foot .footer-bottom {
  padding: 0 0 20px;
}
.foot .footer-bottom p {
  color: #fff;
  font-size: 12px;
}
.foot .footer-bottom ul {
  display: flex;
  justify-content: flex-end;
}
.foot .footer-bottom ul li {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #fff;
}
.foot .footer-bottom ul li:last-child {
  border-right: none;
}
.foot .footer-bottom ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}
.foot hr {
  background-color: #ccc;
  margin: 50px 0;
}

.footer-logo {
  display: block;
  padding-top: 100px;
}/*# sourceMappingURL=custom.css.map */