@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --footer-bg: #000836;
    --light-green: #73BC45;
    --white: #fff;
    --blue-color: #1C6C96;
    --blue-normal: #1C75BC;
    --dull-purple: #253B73;
    --light-parrot-green: #61D281;
    --medium-grey: #707070;
    --slider-active-green: #81C357;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
}


html, body, a, p, header, footer, form, section, article, textarea, input, ul, li, ol, h1, h2, h3, h4, h5, h6, span, div, button, select, option, label, table, tr, td, th, thead, tbody, tfoot, caption, blockquote, pre, code, address, dl, dt, dd, fieldset, legend, object, iframe, img, small, strong, em, b, i, u, s, del, ins, sup, sub, abbr, acronym, q, cite, dfn, samp, kbd, var, tt, center, object, embed, param, video, audio, canvas, details, summary, menu, menuitem, command, keygen, mark, output, progress, meter, time, datalist{
    padding: 0;
    margin: 0;
    border: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}

ul, li, ol{
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
}


// TOP NAVIGATION
header{
    position: relative;
    z-index: 999;
    .logo{
        padding-top: 25px;
        display: block;
        padding-left: 50px;
    }
    .top-main-navigation{
        ul{
            display: flex;
            justify-content: flex-end;
            li{
                display: block;
                font-size: 12px;
                padding: 0 15px;
                line-height: 40px;
                text-transform: uppercase;
                font-family: var(--poppins);
                a{
                    color: var(--white);
                    text-decoration: none;
                }
            }
        }
    }
    .main-menu{
        ul {
            display: flex;
            justify-content: flex-end;
            li{
                display: block;
                font-size: 12px;
                padding: 0 15px;
                line-height: 40px;
                text-transform: uppercase;
                font-family: var(--poppins);
                a{
                    color: var(--white);
                    text-decoration: none;
                }
                a.search{
                    background: var(--white);
                    border-radius: 50px;
                    width: 30px;
                    height: 30px;
                    display: block;
                    text-align: center;
                    padding-top: 6px;
                    margin-top: 5px;
                    svg{
                        color: black;
                        font-size: 16px;
                    }
                }
            }
        }
    } 
}



// HOME PAGE SLIDER
.home-slider{
    display:block;
    margin-top: -80px;
    .bx-wrapper{
        box-shadow: none;
        border: none;
        margin-bottom: 0;
        height: 1070px;
        .slide--content{
            position: relative;
            top: -500px;
            left: 0;
            h2{
                color: var(--white);
                font-size: 60px;
                text-transform: uppercase;
                width: 70%;
                padding-left: 150px;
                &::before{
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 150px;
                    background: var(--light-green);
                    left: 0;
                    top: 20px;
                }
            }
        }
        .bx-pager{
            bottom: 100px;
        }
        .bx-pager.bx-default-pager{
            a.active{
                background: var(--slider-active-green);
            }
            a{
                background: var(--white);
                border-radius: 0;
                width: 30px;
                height: 30px;
                transform: rotate(45deg);
                margin: 0 10px;
                &:hover{
                    background: var(--white);
                }
            }
        }
    }
}



//  HOME ABOUT CSS
.home-about-us{
    display: block;
    width: 100%;
    background: url(../images/homeaboutbackground.png) no-repeat center center;
    padding: 150px 0 0;
    min-height: 1130px;
    .about-us{
        h2{
            font-size: 33px;
            font-weight: 500;
            color: #fff;
            margin-bottom: 20px;
            position: relative;
            padding-left: 110px;
            letter-spacing: 10px;
            &::after{
                content: '';
                position: absolute;
                width: 50px;
                height: 3px;
                background: var(--light-green);
                left: 0;
                top: 20px;
            }
            &::before{
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background: var(--white);
                left: 60px;
                top: 12px;
                transform: rotate(45deg);
            }
        }
        p{
            font-size: 14px;
            color: var(--white);
            padding-left: 110px;
        }
    }
    .aboutus-three-img{
        display: block;
        margin-bottom: 100px;
        li{
            display: inline-block;
            width: 33.33%;
            position: relative;
            p{
                font-size: 16px;
                color: var(--white);
            }
            &:first-child{
                width: 33%;
            }
            &:nth-child(2){
                width: 20%;
                top: 30px;
                position: relative;
            }
            &:nth-child(3){
                width: 20%;
                position: relative;
                top: -70px;
            }
            &:last-child{
                background-color: #253B73;
                position: relative;
                top: -100px;
                right: 0;
                width: 15%;
                height: 100px;
            }
        }
    }
    .triangle-object{
        display: block;
        text-align: center;
        padding-top: 30px;
        img{
            width: 80%;
        }
    }
}



// CLIENT 
.our-clients, .our-vendor-partner{
    display: block;
    width: 100%;
    padding: 100px 0;
    .our-clients-heading, .our-partner-heading{
        display: block;
        h2{
            font-size: 30px;
            color: var(--blue-color);
            padding-left: 240px;
            position: relative;
            letter-spacing: 10px;
            text-transform: uppercase;
            &::after{
                content: '';
                position: absolute;
                width: 50px;
                height: 4px;
                background: var(--light-green);
                left: 140px;
                top: 19px;
            }
            &::before{
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background: var(--blue-normal);
                left: 200px;
                top: 12px;
                transform: rotate(45deg);
            }
        }
    }
    .client-logos{
        display: block;
        padding: 100px 0 0;
        li{
            display: inline-block;
            text-align: center;
            width: 14%;
            img{
                max-width: 100%;
            }
        }
    }
    .partners-logos{
        display: block;
        padding: 100px 0 0;
        li{
            display: inline-block;
            text-align: center;
            width: 16%;
            img{
                max-width: 100%;
            }
        }
    }
}


// TRANSPARENCY CSS
.our-transparency{
    display: block;
    width: 100%;
    background: var(--dull-purple);
    padding: 50px 0;
    .transparency-heading{
        display: block;
        h2{
            font-size: 30px;
            color: var(--white);
            padding-left: 240px;
            position: relative;
            letter-spacing: 10px;
            text-transform: uppercase;
            margin-bottom: 50px;
            &::after{
                content: '';
                position: absolute;
                width: 50px;
                height: 4px;
                background: var(--light-green);
                left: 140px;
                top: 19px;
            }
            &::before{
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background: var(--white);
                left: 200px;
                top: 12px;
                transform: rotate(45deg);
            }
        }
    }
    .transparency-wrapper{
        display: flex;
        margin-top: 20px;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            width: 1px;
            height: 170px;
            background: rgba($color: #707070, $alpha: .4);
            right: 15px;
            top: 0;
        }
        .transparency-info{
            padding-left: 20px;
            span{
                color: var(--white);
                font-size: 14px;
                margin-bottom: 10px;
            }
            h3{
                font-size: 24px;
                color: var(--white);
            }
            h2{
                font-size: 40px;
                color: var(--light-parrot-green);
            }
            p{
                font-size: 29px;
                color: var(--blue-normal);
                margin-bottom: 10px;
            }
            a{
                color: var(--white);
                font-size: 14px;
                text-decoration: underline;
                background: url(../images/downloadicon.svg) no-repeat left center;
                display: block;
                padding: 5px 0px 5px 40px;
                position: relative;
                left: -60px;
                top: 30px;
            }
        }
        .pdf-file{
            display: block;
            text-align: center;
            margin-top: 20px;
            width: 35%;
            img{
                max-width: 100%;
            }
        }
    }
    .terms-data{
        display:block;
        padding: 50px 100px 0;
        p{
            color: var(--white);
            font-size: 11px;
        }
    }
    .transparency-wrapper.no-border{
        &::after{
            display: none;
        }   
    }
}





// FOOTER CSS

.foot{
    display: block;
    background: var(--footer-bg);
    padding-top: 70px;
    .footer-location{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 60px;
        color: #fff;
        border-bottom: 1px solid #ccc;
        .location{
            display: flex;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 1px;
                height: 100%;
                background: rgba($color: #fff, $alpha: .3);
                right: -30px;
                top: 0;
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
            .location-info{
                padding-left: 20px;
                h3{
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                    margin-bottom: 10px;
                }
            }
        } 
    }
    .footer-company-info{
        display:block;
        padding: 50px 0 0 50px;
        p{
            color: #fff;
            font-size: 14px;
            line-height: 24px;
        }
    }
    .footer-links{
        display:block;
        .links{
            display:block;
            li{
                display: inline-block;
                width: 45%;
                line-height: 40px;
                font-size: 18px;
                &:nth-child(odd){
                    border-right:1px solid #73BC45;
                }
                a{
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    padding-left: 20px;
                }
            }
        }
    }
    .footer-social{
        display: block;
        width: 30%;
    }
    .footer-bottom{
        padding: 0 0 20px;
        p{
            color: #fff;
            font-size: 12px;
        }
        ul{
            display: flex;
            justify-content: flex-end;
            li{
                display: inline-block;
                padding: 0 10px;
                border-right: 1px solid #fff;
                &:last-child{
                    border-right: none;
                }
                a{
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    font-size: 12px;
                }
            }
        }
    }
    hr{
        background-color: #ccc;
        margin: 50px 0;
    }
}

.footer-logo{
   display: block;
   padding-top: 100px; 
}
