@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --footer-bg: #000836;
    --light-green: #73BC45;
    --white: #fff;
    --blue-color: #1C6C96;
    --blue-normal: #1C75BC;
    --dull-purple: #253B73;
    --light-parrot-green: #61D281;
    --medium-grey: #707070;
    --slider-active-green: #81C357;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --dark-purple: #03004C;
}



html, body, a, p, header, footer, form, section, article, textarea, input, ul, li, ol, h1, h2, h3, h4, h5, h6, span, div, button, select, option, label, table, tr, td, th, thead, tbody, tfoot, caption, blockquote, pre, code, address, dl, dt, dd, fieldset, legend, object, iframe, img, small, strong, em, b, i, u, s, del, ins, sup, sub, abbr, acronym, q, cite, dfn, samp, kbd, var, tt, center, object, embed, param, video, audio, canvas, details, summary, menu, menuitem, command, keygen, mark, output, progress, meter, time, datalist{
    padding: 0;
    margin: 0;
    border: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}

ul, li, ol{
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
}


// TOP NAVIGATION
header{
    position: relative;
    z-index: 999;
    @media (max-width: 768px){
        background: var(--blue-normal);
        padding: 0 0 20px 0;
    }
    .logo{
        padding-top: 25px;
        display: block;
        padding-left: 50px;
        @media (max-width: 767px){
            padding-left: 0;
            text-align: center;
        }
    }
    .top-main-navigation{
        //backdrop-filter: blur(80px);
        @media (max-width: 768px) {
            background: transparent;
        }
        ul{
            display: flex;
            justify-content: flex-end;
            @media (max-width: 767px){
                justify-content: center;
            }
            @media (max-width: 600px){
                justify-content: center;
                flex-direction: column;
                margin-bottom: 30px;
            }
            li{
                display: block;
                font-size: 12px;
                padding: 0 15px;
                line-height: 40px;
                text-transform: uppercase;
                font-family: var(--poppins);
                @media (min-width:992px) and (max-width:1100px) {
                    padding: 0 10px;
                    font-size: 11px;
                }
                @media (min-width:768px) and (max-width:992px) {
                    padding: 0 10px;
                    font-size: 11px;
                }
                @media (max-width: 600px){
                    text-align: center;
                }
                a{
                    color: var(--white);
                    text-decoration: none;
                }
                select{
                    background: transparent;
                    padding: 10px;
                    color: var(--white);
                }
            }
        }
    }
    .main-menu{
        @media (max-width:768px) {
            text-align: right;
            position: relative;
            padding-bottom: 20px;
        }
        ul {
            display: inline-flex;
            justify-content: flex-end;
            width: 85%;
            @media (min-width:1400px) and (max-width:1500px) {
                width: 80%;
            }
            @media (min-width:1300px) and (max-width:1400px) {
                width: 80%;
            }
            @media (min-width:1100px) and (max-width:1300px) {
                width: 75%;
            }
            @media (min-width:768px) and (max-width:1100px) {
                width: 75%;
            }
            @media (max-width:768px) {
                display: none;
                width: 100%;
                margin-bottom: 20px;
                transition: all .3s linear;
            }
            &.active{
                display: block;
                width: 100%;
                transition: all .3s linear;
                top: 50px;
                position: relative;
            }
            li{
                display: block;
                font-size: 12px;
                padding: 0 15px;
                line-height: 40px;
                text-transform: uppercase;
                font-family: var(--poppins);
                @media (min-width:992px) and (max-width:1100px) {
                    padding: 0 10px;
                    font-size: 11px;
                }
                @media (min-width:768px) and (max-width:992px) {
                    padding: 0 10px;
                    font-size: 11px;
                }
                @media (max-width: 768px) {
                    text-align: right;
                }
                a{
                    color: var(--white);
                    text-decoration: none;
                }
                a.search{
                    background: var(--white);
                    border-radius: 50px;
                    width: 30px;
                    height: 30px;
                    display: block;
                    text-align: center;
                    padding-top: 6px;
                    margin-top: 5px;
                    @media (max-width: 768px) {
                        display: inline-block;
                    }
                    svg{
                        color: black;
                        font-size: 16px;
                    }
                }
            }
        }
        .lang-toggle1{
            display: inline-flex;
            border: 0 solid #fff;
            color: var(--white);
            font-size: 14px;
            margin-right: 10px;
            font-family: var(--poppins);
            @media (max-width:768px) {
                position: absolute;
                top: 0;
                right: 60px;
            }
            .switch1 {
                position: relative;
                display: inline-block;
                width: 55px;
                height: 27px;
                margin: 0 10px;
              }
              
              .switch1 input { 
                opacity: 0;
                width: 0;
                height: 0;
              }
              
              .slider1 {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #2196F3;
                -webkit-transition: .4s;
                transition: .4s;
              }
              
              .slider1:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
              }
              
              input:checked + .slider1 {
                background-color: #2196F3;
              }
              
              input:focus + .slider1 {
                box-shadow: 0 0 1px #2196F3;
              }
              
              input:checked + .slider1:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
              }
              
              /* Rounded sliders */
              .slider1.round {
                border-radius: 34px;
              }
              
              .slider1.round:before {
                border-radius: 50%;
              }
        }
        .mobile-menu{
            display: inline-block;
            //border: 1px solid #fff;
            background: var(--white);
            border-radius: 50px;
            padding: 7px;
            display: none;
            @media (max-width:768px) {
                display: inline-block;
                margin-left: 20px;
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    } 
}



// HOME PAGE SLIDER
.home-slider{
    display:block;
    margin-top: -80px;
    @media (max-width: 767px){
        margin-top: 0;
    }
    .bx-wrapper{
        box-shadow: none;
        border: none;
        margin-bottom: 0;
        //height: 1070px;
        background: #000;
        overflow: hidden;
        // @media (min-width:1300px) and (max-width: 1400px){
        //     height: 700px;
        // }
        // @media (min-width:1200px) and (max-width: 1300px){
        //     height: 600px;
        // }
        // @media (min-width:1000px) and (max-width: 1200px){
        //     height: 500px;
        // }
        // @media (max-width: 767px){
        //     height: 300px;
        // }
        .bx-controls-direction{
            a{
                border: 1px solid #81C357;
                width: 50px;
                height: 50px;
            }
        }
        .bx-prev{
            left: 100px;
            // background: #81C357;
            background: url(../images/sliderleftarrow.png) no-repeat -5px 0;
            transform: rotate(135deg);
            @media (max-width:992px) {
                left: 50px;
            }
            &:hover, &:focus{
                background: url(../images/sliderleftarrow.png) no-repeat -5px 0;
            }
        }
        .bx-next{
            right: 100px;
            // background: #81C357;
            background: url(../images/sliderrightarrow.png) no-repeat 0 0;
            transform: rotate(-135deg);
            @media (max-width:992px) {
                right: 50px;
            }
            &:hover, &:focus{
                background: url(../images/sliderrightarrow.png) no-repeat 0 0;
            }
        }
        .slide--content{
            position: absolute;
            top: 50%;
            left: 20%;
            @media (min-width:1300px) and (max-width: 1400px){
                top: 50%;
            }
            @media (min-width:1200px) and (max-width: 1300px){
                top: 50%;
            }
            @media (min-width:1000px) and (max-width: 1200px){
                top: 50%;
            }
            @media (max-width: 767px){
                top: 30%;
            }
            h2{
                color: var(--white);
                font-size: 60px;
                text-transform: capitalize;
                width: 100%;
                padding-left: 150px;
                @media (min-width:1300px) and (max-width: 1400px){
                    font-size: 50px;
                    padding-left: 100px;
                }
                @media (min-width:1200px) and (max-width: 1300px){
                    font-size: 45px;
                    padding-left: 40px;
                    width: 100%;
                }
                @media (min-width:1000px) and (max-width: 1200px){
                    font-size: 40px;
                    padding-left: 40px;
                    width: 100%;
                }
                @media (min-width:768px) and (max-width: 1000px){
                    font-size: 30px;
                    padding-left: 40px;
                    width: 100%;
                }
                @media (max-width: 767px){
                    font-size: 30px;
                    padding-left: 20px;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 150px;
                    background: var(--light-green);
                    left: 0;
                    top: 20px;
                    @media (min-width:1300px) and (max-width: 1400px){
                        top: 10px;
                        left: 10px;
                    }
                    @media (min-width:1200px) and (max-width: 1300px){
                        top: 10px;
                        left: 10px;
                    }
                    @media (min-width:1000px) and (max-width: 1200px){
                        top: 10px;
                        left: 10px;
                    }
                    @media (min-width:768px) and (max-width: 1000px){
                        top: 10px;
                        left: 10px;
                    }
                    @media (max-width: 767px){
                        top: 10px;
                        left: 0;
                        //height: 80px;
                    }
                }
            }
        }
        .bx-pager{
            bottom: 100px;
            @media (min-width:1300px) and (max-width: 1400px){
                bottom: 100px;
            }
            @media (min-width:1200px) and (max-width: 1300px){
                bottom: 100px;
            }
            @media (min-width:1000px) and (max-width: 1200px){
                bottom: 50px;
            }
            @media (min-width:768px) and (max-width: 1000px){
                bottom: 50px;
            }
            @media (max-width: 767px){
                bottom: 50px;
            }
        }
        .bx-pager.bx-default-pager{
            a.active{
                background: var(--slider-active-green);
            }
            a{
                background: var(--white);
                border-radius: 0;
                width: 20px;
                height: 20px;
                transform: rotate(45deg);
                margin: 0 10px;
                &:hover{
                    background: var(--white);
                }
            }
        }
    }
}




.caption{
    position: absolute;
    top:50%;
    left:8rem;
    z-index: 9;
    transform: translateY(-50%);
    opacity:0;
    transition: 500ms ease opacity, 500ms ease transform;
    transform: translateY(60px);
    &.current-caption{
      transition-delay: 1000ms;
      opacity:1;
      transform: translateY(0);
    }
    &.previous-caption{
      transform: translateY(-60px);
    }
    .caption-heading{
      transition: 500ms ease-in all;
    }
    .caption-heading h1{
      font-size: 4rem;
      margin-bottom:1.5rem;
      text-transform: uppercase;
      text-indent: -0.2rem;
      letter-spacing: .2rem;
      font-weight: 300;
      
    }
    .caption-subhead{
      font-size:1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: white;
       // color: #909590;
      letter-spacing: 4px;
      word-spacing: .1rem;
      margin-bottom: 2.5rem;
      display:block;
    }
    a.btn{
      color: #333;
      font-size: 0.8rem;
      text-decoration: none;
      background-color: white;
      padding: .5rem 1rem;
      text-transform: uppercase;
      letter-spacing: .2rem;
      position:relative;
      z-index:9;
      transition: 250ms ease-in background-color, 500ms ease-in color;
      &:hover{
        background-color: black;
        color: white;
      }
      // word-spacing: rem;
    }
  }

#container{
    width:100%;
    height: 100vh;
    background-color: #2C302E;
    display:flex;
    position: relative;
    
  }
  .left-col, .right-col{
    width: 100%;
    box-sizing: border-box;
    //height: calc(100% - 4rem);
    overflow:hidden;
  }
  .left-col{
    background-size: cover;
    background-position: center top;
    overflow: hidden;
    //margin: 2rem;
    position: relative;
    .slide{
      filter: grayscale(100%);
      position:absolute;
      width: 100%;
      height: 100%;
      background-position:  left top !important;
      background-size: cover !important;
      background-repeat:no-repeat;
      opacity:0;
      transition: 1000ms cubic-bezier(1.000, 0.040, 0.355, 1.000) transform, 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550) clip-path;
      transform:translateY(-100%); scale: 1;
      z-index: -1;
     
      &.previous{
        z-index:1;
        opacity:1;
        transform: translateY(0);
        animation-delay: 1s;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        transition:3s ease transform;
        will-change: transform;
  
        &.change{
          transform: translateY(50%);
        }
      }
      &.next{
        transform: translateY(-100%);
        z-index:3;
        opacity:1;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
      }
      &.current{
        opacity:1;
         transform:translateY(0) scale(1.25);
        z-index:2;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
      
    }
  }
  .right-col{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .right-col .preview{
    max-width:400px;
    
  }
  
  .nav{
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    overflow: hidden;
    // pointer-events:none;
    a{
      color: rgba(250,250,250,1);
      font-size: 3rem;
      text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    }
    &:hover{
      
      .slide-up, .slide-down{
        opacity: .5;
        transform: translateX(0);
      }
      .slide-up{
      }
    }
    .slide-up, .slide-down{
      display:block;
      position:absolute;
      // width:100%;
        text-align:center;
      padding:1rem;
      opacity: 0;
      transition: .25s ease opacity,.25s ease transform;
      z-index:99;
      &:hover{
        opacity: 1;
      }
      a{
        text-decoration:none;
        font-weight: 300 !important;
  
      }
      
    }
    .slide-up{
      top:50%;
      left:0;
      transform: translateX(-100%);
    }
    .slide-down{
      top:50%;
      right:0;
      transform: translateX(100%);
    }
    
  }





//  HOME ABOUT CSS
.home-about-us{
    display: block;
    width: 100%;
    background: url(../images/homeaboutbackground.png) no-repeat center center;
    padding: 150px 0 0;
    min-height: 1130px;
    background-size: cover ;
    @media (min-width:1300px) and (max-width: 1400px) {
        padding: 150px 0 100px;
    }
    @media (min-width:1200px) and (max-width: 1300px) {
        padding: 150px 0 100px;
    }
    @media (min-width:1100px) and (max-width: 1200px) {
        padding: 150px 0 100px;
        min-height: 1000px;
    }
    @media (max-width: 991px){
        padding: 100px 0;
    }
    .about-us{
        h2{
            font-size: 33px;
            font-weight: 500;
            color: #fff;
            margin-bottom: 20px;
            position: relative;
            padding-left: 110px;
            letter-spacing: 10px;
            @media (max-width: 991px) {
                margin-bottom: 30px;
            }
            &::after{
                content: '';
                position: absolute;
                width: 50px;
                height: 3px;
                background: var(--light-green);
                left: 0;
                top: 20px;
            }
            &::before{
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background: var(--white);
                left: 60px;
                top: 12px;
                transform: rotate(45deg);
            }
        }
        p{
            font-size: 20px;
            color: var(--white);
            padding-left: 110px;
            font-family: var(--poppins);
            margin-bottom: 100px;
            @media (min-width:1300px) and (max-width: 1400px) {
                padding-bottom: 40px;
            }
            @media (min-width:1200px) and (max-width: 1300px) {
                padding-bottom: 40px;
            }
            @media (min-width:1100px) and (max-width: 1200px) {
                padding-bottom: 40px;
            }
            @media (max-width:991px) {
                padding-left: 0;
                padding-bottom: 70px;
            }
        }
    }
    .about-content-wrapper{
        position: relative;
        .aboutus-three-img{
            display: block;
            margin-bottom: 100px;
            position: absolute;
            top: 0;
            width: 125%;
            left: 20%;
            @media (min-width:1700px) and (max-width:1900px) {
                width: 110%;
            }
            @media (min-width:1500px) and (max-width:1700px) {
                width: 90%;
            }
            @media (min-width:1400px) and (max-width:1500px) {
                width: 80%;
            }
            @media (min-width:1300px) and (max-width:1400px) {
                width: 95%;
            }
            @media (min-width:1200px) and (max-width:1300px) {
                width: 90%;
            }
            @media (min-width:1100px) and (max-width:1200px) {
                position: relative;
                width: 100%;
                left: 0;
            }
            @media (max-width:1100px) {
                position: relative;
                width: 100%;
                left: 0;
            }
            li{
                display: inline-block;
                width: 33.33%;
                position: relative;
                p{
                    font-size: 16px;
                    color: var(--white);
                }
                &:first-child{
                    width: 33%;
                }
                &:nth-child(2){
                    width: 20%;
                    top: 30px;
                    position: relative;
                }
                &:nth-child(3){
                    width: 20%;
                    position: relative;
                    top: -70px;
                }
                &:last-child{
                    background-color: #253B73;
                    position: relative;
                    top: -100px;
                    right: 0;
                    width: 16%;
                    height: 150px;
                }
            }
        }
    }
    .triangle-object{
        display: block;
        text-align: center;
        padding-top: 30px;
        img{
            width: 80%;
        }
    }
}


// INDUSTRY
.industry-wrapper{
    display: block;
    width: 100%;
    background: var(--dark-purple);
    padding: 50px 0;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        width: 110px;
        height: 110px;
        background: url(../images/greenwhitediamond.png) no-repeat 0 0;
        //border:1px solid var(--light-green);
        //transform: rotate(45deg);
        left: 50%;
        top: -53px;
    }
    .industry-heading{
        h2{
            font-size: 33px;
            font-weight: 500;
            color: #fff;
            margin-bottom: 20px;
            position: relative;
            padding-left: 110px;
            letter-spacing: 10px;
            text-transform: uppercase;
            margin-top: 50px;
            @media (min-width: 1300px) and (max-width: 1400px) {
                font-size: 33px;
            }
            @media (min-width: 1200px) and (max-width: 1300px) {
                font-size: 30px;
            }
            @media (min-width: 1100px) and (max-width: 1200px) {
                font-size: 28px;
            }
            @media (min-width: 992px) and (max-width: 1100px) {
                font-size: 24px;
            }
            @media (max-width: 991px) {
                font-size: 22px;
            }
            &::after{
                content: '';
                position: absolute;
                width: 50px;
                height: 3px;
                background: var(--light-green);
                left: 0;
                top: 20px;
            }
            &::before{
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background: var(--white);
                left: 60px;
                top: 12px;
                transform: rotate(45deg);
            }
        }
    }
    .carousel-wrapper{
        overflow: hidden;
        width: 95% !important;
        display: inline-block;
        position: relative;
        height: 650px;
        transition: all .3s ease-in-out;
        margin-right: 10px;
        margin-top: 50px;
        border: 1px solid rgba($color: #fff, $alpha: .2);
        .carousel-number{
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            text-align: right;
            color: var(--white);
            z-index: 99;
            h1{
                font-size: 110px;
                font-weight: 900;
                color: rgba($color: #015596, $alpha: .5);
                padding: 20px 20px 0 0;
            }
        }
        .carousel-content{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 30px 20px 0 20px;
            background: url(../images/dimfilterbackground.png) no-repeat center center;
            overflow: hidden;
            height: 220px;
            transition: all .2s linear;
            h2{
                font-size: 36px;
                color: var(--white);
                font-weight: 500;
                margin-bottom: 20px;
                @media (min-width: 1200px) and (max-width: 1300px) {
                    font-size: 30px;
                }
                @media (min-width: 1100px) and (max-width: 1200px) {
                    font-size: 26px;
                }
                @media (min-width: 992px) and (max-width: 1100px) {
                    font-size: 26px;
                }
                @media (min-width: 768px) and (max-width: 992px) {
                    font-size: 24px;
                }
                @media (max-width: 767px) {
                    font-size: 22px;
                }
            }
            p{
                font-size: 22px;
                color: var(--white);
                height: 130px;
                overflow: hidden;
                margin-bottom: 20px;
                opacity: 0;
                @media (min-width: 1200px) and (max-width: 1300px) {
                    font-size: 22px;
                }
                @media (min-width: 1100px) and (max-width: 1200px) {
                    font-size: 20px;
                }
                @media (min-width: 992px) and (max-width: 1100px) {
                    font-size: 16px;
                }
                @media (min-width: 768px) and (max-width: 992px) {
                    font-size: 16px;
                }
                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
            a{
                display: inline-block;
                text-align: center;
                padding: 0 20px;
                background: var(--light-green);
                color: var(--white);
                font-size: 18px;
                text-transform: uppercase;
                margin-top: 20px;
                transition: all .3s ease-in-out;
                font-family: var(--poppins);
                line-height: 50px;
                text-decoration: none;
                svg{
                    margin-left: 20px;
                }
                &:hover{
                    background: var(--white);
                    color: var(--light-green);
                }
            }
        }
        &:hover{
            .carousel-content{
                bottom: 0;
                transition: all .2s linear;
                height: 650px;
                background: #03004C;
                padding-top: 100px;
                p{
                    overflow: auto;
                    height: auto;
                    opacity: 1;
                }
            }    
        }
    }
    
    .slick-carousel{
        .slick-slide{
            margin: 0 10px;
        }
        .slick-next {
            right: 170px;
            top: -50px;
            @media (min-width:1100px) and (max-width: 1200px) {
                right: 50px;
            }
            @media (min-width:1000px) and (max-width: 1100px) {
                right: 50px;
            }
            @media (min-width:768px) and (max-width: 1000px) {
                right: 50px;
                top: 0;
            }
            @media  (max-width: 767px) {
                right: 50px;
                top: 0;
            }
        }
        .slick-prev {
            right: 240px;
            top: -50px;
            left: auto;
            @media (min-width:1100px) and (max-width: 1200px) {
                right: 120px;
            }
            @media (min-width:1000px) and (max-width: 1100px) {
                right: 120px;
            }
            @media (min-width:768px) and (max-width: 1000px) {
                right: 120px;
                top: 0;
            }
            @media  (max-width: 767px) {
                right: 120px;
                top: 0;
            }
        }
        .slick-prev:before,
        .slick-next:before
        {
            opacity: 1;
        }
        .slick-prev:hover:before,
        .slick-prev:focus:before,
        .slick-next:hover:before,
        .slick-next:focus:before
        {
            opacity: 1;
            color: var(--light-parrot-green);
        }
    }
}



// CLIENT 
.our-clients, .our-vendor-partner{
    display: block;
    width: 100%;
    padding: 100px 0;
    .our-clients-heading, .our-partner-heading{
        display: block;
        h2{
            font-size: 30px;
            color: var(--blue-color);
            padding-left: 240px;
            position: relative;
            letter-spacing: 10px;
            text-transform: uppercase;
            @media screen and (max-width: 767px){
                padding-left: 200px;
                font-size: 24px;
                letter-spacing: 5px;
            }
            &::after{
                content: '';
                position: absolute;
                width: 50px;
                height: 4px;
                background: var(--light-green);
                left: 140px;
                top: 19px;
                @media (max-width: 767px){
                    left: 100px;
                }
            }
            &::before{
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background: var(--blue-normal);
                left: 200px;
                top: 12px;
                transform: rotate(45deg);
                @media (max-width: 767px){
                    left: 160px;
                }
            }
        }
    }
    .client-logos{
        display: block;
        padding: 100px 30px 0;
        li{
            display: inline-block;
            text-align: center;
            width: 14%;
            @media (min-width:1300px) and (max-width: 1400px){
                width: 23%;
                margin: 40px 0;
            }
            @media (min-width:1200px) and (max-width: 1300px){
                width: 23%;
                margin: 40px 0;
            }
            @media (min-width:1100px) and (max-width: 1200px){
                width: 32%;
                margin: 40px 0;
            }
            @media (min-width:992px) and (max-width: 1100px){
                width: 32%;
                margin: 40px 0;
            }
            @media (min-width:768px) and (max-width: 992px){
                width: 32%;
                margin: 40px 0;
            }
            @media (max-width: 767px){
                width: 45%;
                margin: 40px 0;
            }
            img{
                max-width: 100%;
                display: inline-block;
            }
        }
    }
    .partners-logos{
        display: block;
        padding: 100px 0 0;
        li{
            display: inline-block;
            text-align: center;
            width: 16%;
            @media (min-width:1300px) and (max-width: 1400px){
                width: 30%;
                margin: 40px 0;
            }
            @media (min-width:1200px) and (max-width: 1300px){
                width: 30%;
                margin: 40px 0;
            }
            @media (min-width:1100px) and (max-width: 1200px){
                width: 30%;
                margin: 40px 0;
            }
            @media (min-width:992px) and (max-width: 1100px){
                width: 30%;
                margin: 40px 0;
            }
            @media (min-width:768px) and (max-width: 992px){
                width: 48%;
                margin: 40px 0;
            }
            @media (max-width: 767px){
                width: 45%;
                margin: 40px 0;
            }
            img{
                max-width: 100%;
                display: inline-block;
            }
        }
    }
}


// TOP SOLUTIONS CSS
.top-solutions-wrapper{
    display: block;
    width: 100%;
    background: url(../images/solutionsbackground.png) no-repeat center center;
    padding: 50px 0;
    height: 1400px;
    background-size: cover;
    @media (max-width: 1100px){
        height: 2300px;
    }
    .top-solutions-heading{
        display: block;
        h2{
            font-size: 30px;
            color: var(--white);
            padding-left: 240px;
            position: relative;
            letter-spacing: 10px;
            text-transform: uppercase;
            margin: 50px 0 50px 0;
            @media (max-width: 992px){
                padding-left: 100px;
                font-size: 24px;
            }
            @media (max-width: 767px){
                padding-left: 100px;
                font-size: 20px;
            }
            &::after{
                content: '';
                position: absolute;
                width: 50px;
                height: 4px;
                background: var(--light-green);
                left: 140px;
                top: 19px;
                @media (max-width: 992px){
                    left: -5px;
                    top: 12px;
                }
                @media (max-width: 767px){
                    left: -5px;
                    top: 12px;
                }
            }
            &::before{
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background: var(--white);
                left: 200px;
                top: 12px;
                transform: rotate(45deg);
                @media (max-width: 992px){
                    left: 60px;
                    top: 6px;
                }
                @media (max-width: 767px){
                    left: 60px;
                    top: 6px;
                }
            }
        }
    }
}

.wrapper{
    width:95%;
    height:100%;
    margin:auto;
    //border-radius:8px;
    //background:#f0f0f0;
    position:relative;
    // box-shadow:0 10px 20px rgba(0,0,0,0.3);
    nav{
        width: 100%;
        //background:linear-gradient(135deg, #fcc274 0%,#eb48a1 100%);
        border: 1px solid #fff;
        @media (min-width:1100px){
          float:right;
          width:25%;
          height:calc(100% - 0rem);
          border-radius:0 0 0 0;
        }
        @media (min-width:1200px){
          float:right;
          width:26.5%;
          height:calc(100% - 0rem);
          border-radius:0 0 0 0;
        }
        @media (min-width:1300px){
          float:right;
          width:26.5%;
          height:calc(100% - 0rem);
          border-radius:0 0 0 0;
        }
        @media (min-width:1400px){
          float:right;
          width:25%;
          height:calc(100% - 0rem);
          border-radius:0 0 0 0;
        }
        
        
        ul{
          display:flex;
          @media (min-width:1100px){
            display:block;
          }
        }
      
        li{
          line-height:3;
          padding:0 0rem;
          border-right:1px solid #f0f0f0;
          cursor:pointer;
          color:#fff;
          box-sizing:border-box;
          font-family: var(--poppins);
          //font-size: 22px;
          width: 20%;
          @media (min-width:1100px){
            border-bottom:1px solid #f0f0f0;
            border-right:none;
            width: 100%;
          }
          div{
              line-height: 50px;
              border-bottom: 1px solid rgba($color: #fff, $alpha: .2);
              padding-left: 20px;
              display: block;
              &:first-child{
                  margin-top: -30px;
              }
              @media (min-width:1300px) and (max-width:1400px) {
                  font-size: 18px;
              }
              @media (min-width:1200px) and (max-width:1300px) {
                  font-size: 16px;
              }
              @media (min-width:1100px) and (max-width:1200px) {
                  font-size: 16px;
              }
              @media (min-width:992px) and (max-width:1100px) {
                  font-size: 14px;
                  line-height: normal;
                  padding: 15px 10px;
              }
          }
          h1{
              text-align: right;
              font-size: 60px;
              padding: 10px 20px 10px 0;
              color: rgba($color: #fff, $alpha: .2);
              position: relative;
              @media (min-width:1300px) and (max-width:1400px) {
                  font-size: 55px;
              }
              @media (min-width:1200px) and (max-width:1300px) {
                  font-size: 45px;
              }
              @media (min-width:1100px) and (max-width:1200px) {
                  font-size: 35px;
              }
              @media (min-width:992px) and (max-width:1100px) {
                  font-size: 35px;
              }
          }
          
          &.hover{
            //background:rgba(255,255,255,0.2);
            background: rgba($color: #81C357, $alpha: 1.0);
          }
          &.pressed{
            background:rgba(255,255,255,0.7);
          }
          &.currentPage{
            //background:rgba(255,255,255,0.5);
            background: rgba($color: #81C357, $alpha: 1.0);
          }
        }
    }
    #contents{
        box-sizing:border-box;
        position:absolute;
        height:calc(100% - -90rem);
        width:100%;
        top: 14rem;
        left:0;
        border: 1px solid #fff;
        border-top: none;
        @media (min-width:1100px){
            height:calc(100% - 0rem);
            width:calc(79% - 4.5rem);
            top:0;
            left:0;
            border: 1px solid #fff;
            border-right: none;
        }
        border-radius:0 0 0 0;
        overflow:hidden;
        //background: linear-gradient(135deg, #1c1a30 0%,#38335d 100%);
      }
      
      article{
        position:absolute;
        height:100%;
        width:100%;
        padding:0;
        box-sizing:border-box;
        //background: linear-gradient(135deg,#38335d  0%,#1c1a30 100%);
        background: rgba($color: #1d6fb5, $alpha: .3);
        top:0;
        left:-100%;
      
        &.hide{
          transition:left 0s 0.5s;
        }
        &:nth-of-type(1){
          z-index:5;
        }
        &:nth-of-type(2){
          z-index:4;
        }
        &:nth-of-type(3){
          z-index:3;
        }
        &:nth-of-type(4){
          z-index:2;
        }
        &:nth-of-type(5){
          z-index:1;
        }
        
        &.show{
          transition:left 0.5s;
          left:0;
          z-index:6;
        }
        
        
        section{
          width:100%;
          color:#fff;
          .solutions--content{
            display: flex;
            font-family: var(--poppins);
            @media (max-width: 1100px){
                flex-direction: column;
            }
            div{
                width: 33%;
                padding: 200px 50px 0;
                border-right: 1px solid #fff;
                min-height: 1110px;
                &:last-child{
                    border-right: none;
                }
                @media (min-width:1300px) and (max-width:1400px) {
                    min-height: 1030px;
                }
                @media (min-width:1200px) and (max-width:1300px) {
                    min-height: 1030px;
                }
                @media (min-width:1100px) and (max-width:1200px) {
                    min-height: 1030px;
                    width: 100%;
                }
                @media (min-width:992px) and (max-width:1100px) {
                    min-height: auto;
                    width: 100%;
                    padding: 50px 50px 50px;
                    border-right: none;
                    border-bottom: 1px solid #fff;
                }
                @media (max-width: 767px){
                    width: 100%;
                }
                h1{
                    font-size:22px;
                    margin:0 0 2rem 0;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background: var(--light-green);
                        left: 0;
                        top: -70px;
                        transform: rotate(45deg);
                        @media (max-width: 1100px){
                            display: none;
                        }
                    }
                    @media (min-width: 1300px) and (max-width: 1400px) {
                        font-size:20px;
                    }
                    @media (min-width: 1200px) and (max-width: 1300px) {
                        font-size:18px;
                    }
                    @media (min-width: 1100px) and (max-width: 1200px) {
                        font-size:18px;
                    }
                    @media (min-width: 992px) and (max-width: 1100px) {
                        font-size:16px;
                        margin-bottom: 1rem;
                    }
                }
                p{
                    font-size:22px;
                    line-height:30px;
                    min-height: 300px;
                    @media (min-width: 1300px) and (max-width: 1400px) {
                        font-size:18px;
                        min-height: 300px;
                    }
                    @media (min-width: 1200px) and (max-width: 1300px) {
                        font-size:16px;
                        min-height: 300px;
                    }
                    @media (min-width: 1100px) and (max-width: 1200px) {
                        font-size:14px;
                        min-height: 300px;
                    }
                    @media (min-width: 992px) and (max-width: 1100px) {
                        font-size:14px;
                        min-height: 100px;
                    }
                }
                img{
                    max-width: 100%;
                }
            }
          }
          /*h1{
            font-size:1.5rem;
            margin:0 0 2rem 0;
            
          }*/
        }
    }
}
  





// TRANSPARENCY CSS
.our-transparency{
    display: block;
    width: 100%;
    background: var(--dull-purple);
    padding: 50px 0;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        width: 110px;
        height: 110px;
        background: url(../images/greenwhitediamond.png) no-repeat 0 0;
        //border:1px solid var(--light-green);
        //transform: rotate(45deg);
        left: 50%;
        top: -53px;
    }
    .transparency-heading{
        display: block;
        h2{
            font-size: 30px;
            color: var(--white);
            padding-left: 240px;
            position: relative;
            letter-spacing: 10px;
            text-transform: uppercase;
            margin: 50px 0 50px 0;
            @media screen and (max-width: 767px){
                font-size: 24px;
                padding-left: 100px;
            }
            &::after{
                content: '';
                position: absolute;
                width: 50px;
                height: 4px;
                background: var(--light-green);
                left: 140px;
                top: 19px;
                @media screen and (max-width: 767px) {
                    left: 0;
                }
            }
            &::before{
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background: var(--white);
                left: 200px;
                top: 12px;
                transform: rotate(45deg);
                @media screen and (max-width: 767px) {
                    left: 60px;
                }
            }
        }
    }
    .transparency-wrapper{
        display: flex;
        margin-top: 20px;
        position: relative;
        @media (max-width: 992px){
            margin-bottom: 50px;
        }
        @media (max-width: 767px){
            margin-bottom: 50px;
        }
        &::after{
            position: absolute;
            content: "";
            width: 1px;
            height: 170px;
            background: rgba($color: #707070, $alpha: .4);
            right: 15px;
            top: 0;
            @media (min-width:1300px) and (max-width: 1400px){
                right: -5px;
            }
            @media (min-width:1200px) and (max-width: 1300px){
                right: -5px;
            }
            @media (min-width:1100px) and (max-width: 1200px){
                right: -5px;
            }
            @media (min-width:992px) and (max-width: 1100px){
                right: -5px;
            }
            @media (min-width:768px) and (max-width: 992px){
                left: 150px;
                top: 190px;
                width: 300px;
                height: 1px;
            }
            @media (max-width: 767px){
                left: 150px;
                top: 190px;
                width: 300px;
                height: 1px;
            }
        }
        .transparency-info{
            padding-left: 20px;
            @media (max-width:992px){
                width: 50%;
            }
            span{
                color: var(--white);
                font-size: 14px;
                margin-bottom: 10px;
            }
            h3{
                font-size: 24px;
                color: var(--white);
            }
            h2{
                font-size: 40px;
                color: var(--light-parrot-green);
                @media (min-width:1100px) and (max-width: 1200px){
                    font-size: 33px;
                }
                @media (min-width:1000px) and (max-width: 1100px){
                    font-size: 33px;
                }
            }
            p{
                font-size: 29px;
                color: var(--blue-normal);
                margin-bottom: 10px;
            }
            a{
                color: var(--white);
                font-size: 14px;
                text-decoration: underline;
                background: url(../images/downloadicon.svg) no-repeat left center;
                display: block;
                padding: 5px 0px 5px 40px;
                position: relative;
                left: -60px;
                top: 30px;
            }
        }
        .pdf-file{
            display: block;
            text-align: center;
            margin-top: 20px;
            width: 35%;
            @media (max-width:992px){
                margin-top: 0;
            }
            img{
                max-width: 100%;
            }
        }
    }
    .terms-data{
        display:block;
        padding: 50px 100px 0;
        @media (max-width:992px){
            padding: 50px 0 0;
        }
        p{
            color: var(--white);
            font-size: 11px;
        }
    }
    .transparency-wrapper.no-border{
        &::after{
            display: none;
        }   
    }
}





// FOOTER CSS

.foot{
    display: block;
    background: var(--footer-bg);
    padding-top: 70px;
    .footer-location{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 60px;
        color: #fff;
        border-bottom: 1px solid rgba($color: #fff, $alpha: .2);
        @media (min-width:1300px) and (max-width: 1400px){
            padding: 30px 0;
        }
        @media (min-width:1200px) and (max-width: 1300px){
            padding: 30px 0;
        }
        @media (min-width:1100px) and (max-width: 1200px){
            padding: 30px 0;
        }
        @media (min-width:992px) and (max-width: 1100px){
            padding: 30px 0;
        }
        @media (min-width:768px) and (max-width: 992px){
            padding: 30px 0;
            flex-direction: column;
        }
        @media (max-width: 767px){
            padding: 30px 0;
            flex-direction: column;
        }
        .location{
            display: flex;
            position: relative;
            @media (min-width:768px) and (max-width: 992px){
                width: 100%;
                margin-bottom: 80px;
            }
            @media (max-width: 767px){
                width: 100%;
                margin-bottom: 80px;
            }
            &:last-child{
                @media (max-width:767px) {
                    margin-bottom: 0;
                }
            }
            &::after{
                content: '';
                position: absolute;
                width: 1px;
                height: 100%;
                background: rgba($color: #fff, $alpha: .3);
                right: -30px;
                top: 0;
                @media (min-width:1300px) and (max-width: 1400px){
                    right: 30px;
                }
                @media (min-width:1200px) and (max-width: 1300px){
                    right: 30px;
                }
                @media (min-width:1100px) and (max-width: 1200px){
                    right: 30px;
                }
                @media (min-width:992px) and (max-width: 1100px){
                    right: 30px;
                }
                @media (min-width:768px) and (max-width: 992px){
                    width: 60%;
                    height: 1px;
                    left: 150px;
                    top: 120px;
                }
                @media (max-width: 767px){
                    width: 60%;
                    height: 1px;
                    left: 150px;
                    top: 120px;
                }
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
            .location-info{
                padding-left: 20px;
                @media (min-width:1300px) and (max-width: 1400px){
                    width: 50%;
                }
                @media (min-width:1200px) and (max-width: 1300px){
                    width: 50%;
                }
                @media (min-width:1100px) and (max-width: 1200px){
                    width: 45%;
                }
                @media (min-width:992px) and (max-width: 1100px){
                    width: 45%;
                }
                @media (min-width:768px) and (max-width: 992px){
                    width: 100%;
                }
                h3{
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                    margin-bottom: 10px;
                }
            }
        } 
    }
    .footer-company-info{
        display:block;
        padding: 50px 0 0 50px;
        @media (max-width: 991px){
            padding: 50px 0 100px 0;
        }
        p{
            color: #fff;
            font-size: 14px;
            line-height: 24px;
        }
    }
    .footer-links{
        display:block;
        .links{
            display:block;
            @media screen and (max-width: 991px) {
                margin-bottom: 50px;
            }
            li{
                display: inline-block;
                width: 45%;
                line-height: 40px;
                font-size: 18px;
                @media screen and (max-width: 991px) {
                    width: 100%;
                    line-height: 50px;
                }
                &:nth-child(odd){
                    border-right:1px solid #73BC45;
                    @media screen and (max-width: 991px) {
                        border-right:none;
                    }
                }
                &:nth-child(5){
                    @media screen and (max-width: 991px) {
                        border-top:1px solid #73BC45;
                    }
                }
                a{
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    padding-left: 20px;
                    @media screen and (max-width: 991px) {
                        padding-left: 0;
                    }
                }
            }
        }
    }
    .footer-two-div{
        display:flex;
        @media screen and (max-width: 991px) {
            flex-direction: column;
        }
        .footer-social{
            display: inline-block;
            width: 45%;
            @media screen and (max-width: 991px) {
                margin-bottom: 50px;
            }
            h2{
                font-size: 18px;
                color: var(--white);
            }
            ul{
                display: block;
                margin-top: 20px;
                li{
                    display: inline-block;
                    font-size: 24px;
                    margin-right: 10px;
                }
            }
        }
        .footer-newsletter{
            display: inline-block;
            width: 50%;
            color: var(--white);
            
            .newsletter-form{
                display: block;
                input[type=text]{
                    background: var(--white);
                    padding: 10px;
                    margin-bottom: 10px;
                    width: 100%;
                    &::placeholder{
                        color: var(--medium-grey);
                    }
                }
                input[type=submit]{
                    background: var(--blue-normal);
                    padding: 0;
                    color: var(--white);
                    border: none;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 500;
                    width: 100%;
                    line-height: 40px;
                }
            }
            h2{
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
    }
    .footer-bottom{
        padding: 0 0 20px;
        @media screen and (max-width: 991px) {
            text-align: center;
        }
        p{
            color: #fff;
            font-size: 12px;
        }
        ul{
            display: flex;
            justify-content: flex-end;
            @media screen and (max-width: 991px) {
                justify-content: center;
            }
            li{
                display: inline-block;
                padding: 0 10px;
                border-right: 1px solid #fff;
                &:last-child{
                    border-right: none;
                }
                a{
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    font-size: 12px;
                }
            }
        }
    }
    hr{
        background-color: #ccc;
        margin: 50px 0;
    }
}

.footer-logo{
   display: block;
   padding-top: 100px; 
}
