body{
  overflow-x: hidden;
}
.carrers-wrapper {
  background: var(--dark-purple);
  .our__solutions {
    padding: 40px 0px 30px;
    @media screen and (max-width:992px) {
      padding:40px 30px 30px 20px;
    }

    .pagination__list ul {
      padding-left: 70px;
    }
  }
  h2 {
    font-size: 33px;
    margin-bottom: 50px;
    position: relative;
    padding-left: 100px;
    color: var(--white);
    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background: url('../images/logowhitecircle.svg') no-repeat 0 0;
      left: 40px;
      top: 6px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 4px;
      background: var(--light-green);
      left: -20px;
      top: 19px;
    }
  }
  p {
    color: var(--white);
    padding-left: 100px;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 300;
  }
  a.button {
    background: var(--light-green);
    padding: 0 60px 0 30px;
    line-height: 60px;   
    color: var(--white);
    display: inline-block;
    margin-left: 100px;
    margin-top: 50px;
    text-decoration: none;
    position: relative;
    svg{
      position: absolute;
      top: 23px;
      right: 30px;
      transition: all .3s linear;
    }
    &:hover{
      svg{
        right: 10px;
        transition: all .3s linear;
      }
    }
  }
}
.acc-desc-li ol li{
  list-style: circle;
  font-size: 20px;
  color: #000000;
}
.acc-desc-li ul li{
  list-style: decimal;
  font-size: 20px;
  color: #000000;
}

.jobposition-wrapper {
  background: $white;
  h2 {
    font-size: 33px;
    margin-bottom: 50px;
    position: relative;
    padding-left: 100px;
    color: $dark-blue-color;
    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background: url(../images/logocolorcircle.svg) no-repeat 0 0;
      left: 60px;
      top: 6px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 4px;
      background: var(--light-green);
      left: 0;
      top: 19px;
    }
  }
  p {
    color: var(--white);
    padding-left: 100px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  // a.button {
  //   background: var(--light-green);
  //   padding: 0 60px 0 30px;
  //   line-height: 60px;
  //   color: var(--white);
  //   display: inline-block;
  //   margin-left: 100px;
  //   margin-top: 50px;
  //   text-decoration: none;
  // }
}
.padding-tb {
  padding: 150px 0;
}
//button css new theme


// Let's style the component! __ Start copying from here

.btn__theme-all {
  z-index: 10;
  display: flex;
  background-color:var(--light-green);
  width: 200px;
  height: 60px;
  margin: 40px auto;
  margin-left: 100px;
  // border-radius: 8px;
  // margin: 40px auto;
  transition: background-color 300ms ease, box-shadow 300ms ease;
  animation: btn__scale-down 600ms ease;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    animation: btn__scale-up 600ms ease;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.256);
    background-color:#6fc837e3;
    color: white ;
    svg {
      transform: translateX(24px);
      opacity: 0;
      animation: arrow__slide-ltr 600ms ease-out;
      }
    }
  }
  .btn__theme-all-an{
    margin:40px 0px  !important;
    &:hover{
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.256) !important;
    }
  }
  .btn-whoweare {
    margin: 40px 0;
  }
  .btn__theme-all-contactus,.btn__theme-all-auto{
    margin: 40px auto;
  }
  .btn__theme-all-whatwedo{
    margin: 250px auto 0px;
  }
  @media screen and (max-width:992px) {
    .btn__theme-career-mobile{
      margin:0px 10px 10px 70px;
    }
    .btn__theme-all-an{
      margin:40px 0px  !important;
    }
  }
  

a.btn__content, .btn__theme-all button {
  width: 200px;
  height: 60px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  margin: auto;
  text-align: center;
  background: transparent;
  /* align-self: center; */
  transition: color 300ms ease;
  span {
    vertical-align: middle;
    color: white !important;
  }

  svg {
    transition: opacity 600ms ease;
  }
}


@keyframes btn__scale-up {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes btn__scale-down {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}

@keyframes arrow__slide-ltr {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(24px);
    opacity: 0;
  }
}
.careers-whowe {
  min-height: 660px;
  overflow: hidden;
  .careersabout-content {
    display: block;
    padding-right: 50px;
    @media (max-width: 991px) {
      padding-right: 0;
    }
  }
  .posRel {
    position: relative;
    .careersabout-img {
      position: absolute;
      left: 0;
      .img-fluid {
        max-width: 900px;
      }
    }
  }
}
.future-container {
  .bullets-wrapper {
    display: block;
    padding: 100px 0 0 110px;
  }
  .bullets-points {
    display: flex;
    margin-bottom: 30px;
    cursor: pointer;
    .bullets-points-number {
      font-size: 40px;
      display: inline-block;
      color: rgba($color: #fff, $alpha: 0.5);
      transition: all 0.2s linear;
    }
    .bullets-pointscontent {
      color: rgba($color: #fff, $alpha: 0.5);
      font-size: 30px;
      padding: 6px 0 0 25px;
      transition: all 0.2s linear;
      font-weight: 700;
      @media screen and (max-width:992px) {
        padding-top: 0px !important;
        }
    }
    &:hover {
      .bullets-points-number,
      .bullets-pointscontent {
        color: rgba($color: #fff, $alpha: 1);
        transition: all 0.2s linear;
      }
    }
    &.active {
      .bullets-points-number,
      .bullets-pointscontent {
        color: rgba($color: $seminar-green-color, $alpha: 1);
      }
    }

    // li{
    //     font-size: 30px;
    //     margin-bottom: 30px;
    //     span{
    //         font-size: 40px;
    //         display: inline-block;
    //     }
    //     a{
    //         color: rgba($color: #fff, $alpha: .5);
    //         text-decoration: none;
    //     }
    // }
  }
  .future-img {
    opacity: 0.3;
    margin-bottom: -50px;
    position: relative;
    z-index: 10;
    transition: all 0.2s linear;
    cursor: pointer;
    &.active {
      opacity: 1;
      transform: scale(1.3);
      z-index: 11;
      transition: all 0.2s linear;
    }
  }
  .future-content-wrapper {
    padding: 100px 0 0 100px;
    @media screen and (max-width:992px) {
      padding-bottom:0px !important;
    }
    .future-content {
      display: none;
      h3 {
        color: rgba($color: $seminar-green-color, $alpha: 1);
        font-size: 30px;
        margin-bottom: 30px;
        @media screen and (max-width:992px) {
          padding:0 30px 0 70px;
          font-size: 24px;
        }
      }
      p {
        padding: 0;
        font-size: 20px;
        @media screen and (max-width:992px) {
          padding:0px 30px 50px 70px;
          font-size: 18px;
        }
      }
      &.active {
        display: block;
      }
    }
  }
}
.benefits-wrappers {
  display: block;
  background: var(--white) url(../images/logo-light.png) no-repeat top right;
  margin-bottom: 20px;
  &.border {
    border-radius: 10px;
    padding: 200px 15px 20px;
  }
  h3 {
    font-size: 26px;
    margin-bottom: 10px;
    min-height: 65px;
  }
  p {
    color: var(--black);
    padding-left: 0;
  }
}
.benefits-container {
  padding-left: 100px;
  padding-top: 100px;
}
.success-story {
  min-height: 950px;
  overflow: hidden;
  .row{
    padding-top: 61px;
  }
  .story-wrapper {
    background: url(../images/careers-quote.png) no-repeat right 25px;
    padding: 150px 50px 0 0 !important;
    .story-title {
      display: block;
      margin: 100px 0 0 100px;
      span {
        color: $seminar-green-color;
        margin-bottom: 10px;
        font-weight: 700;
      }
      p {
        padding-left: 0;
      }
    }
  }
  .posRel {
    position: relative;
    // display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    .story-img {
      position: absolute;
      left: 0;
      top: -61px;
      width: 840px;
      @media (max-width: 992px) {
        // top: 0;
        position: relative;
        width: 100%;
      }
      .img-fluid {
        //max-width: 580px;
        max-width: 100%;
      }
    }
  }
}
.careercarousel-wrapper {
  display: block;
  background: $white;
  position: absolute;
  right: 0;
  width: 55%;
  padding: 200px 10px 120px 50px;
  h2 {
    color: $dark-blue-color;
    padding-left: 0;
    margin-bottom: 50px;
    &::before,
    &::after {
      display: none;
    }
  }
  p {
    color: rgba($color: $grey, $alpha: 1);
    padding-left: 0;
  }
  .careers-carousel {
    .slick-dots {
      text-align: left;
      bottom: -50px;
      li {
        margin: 0 10px;
        button {
          &::before {
            font-size: 0;
            font-family: "";
            background: $seminar-green-color;
            width: 35px;
            height: 6px;
            border-radius: 10px;
          }
        }
        &.slick-active {
          button {
            &::before {
              background: $seminar-green-color;
            }
          }
        }
      }
    }
  }
}
.initiatives {
  min-height: 800px;
  border-top: 1px solid rgba($color: #fff, $alpha: .2);
  border-bottom: 1px solid rgba($color: #fff, $alpha: .2);
  overflow: hidden;
  position: relative;
  .initiative-leftcontent {
    padding: 200px 0 0 0;
  }
}
.careers-conatiner {
  display: block;
  padding-right: 50px;
  .careers-icon {
    display: block;
    margin-bottom: 30px;
  }
  h3 {
    padding-top: 50px;
    position: relative;
    color: $dark-blue-color;
    font-size: 28px;
    @media (max-width: 1300px) {
      font-size: 26px;
    }
    &::before {
      position: absolute;
      content: "";
      width: 50px;
      height: 6px;
      top: 0;
      left: 0;
      background: rgba($color: $grey, $alpha: 0.2);
      border-radius: 10px;
    }
  }
  p{
    font-size: 20px;
    color: $grey;
    padding: 0px !important;
    @media (max-width: 1300px) {
      font-size: 18px;
    }
  }
}
.applyform-conatiner {
  padding-left: 110px;
  padding-top: 50px;
  label {
    color: $white;
    display: block;
    margin-bottom: 5px;
  }
  input,
  select,
  textarea {
    width: 100%;
    background: transparent;
    border: 1px solid rgba($color: #fff, $alpha: 0.2);
    margin-bottom: 20px;
    color: $white;
    padding: 10px 15px;
    option {
      color: #73bc45;
      background: #122D6E;
    }
    &::placeholder {
      color: rgba($color: #fff, $alpha: 0.7);
    }
    option {
      color: rgba($color: #fff, $alpha: 0.7);
    }
  }
  textarea {
    height: 200px;
  }
  // button {
  //   background: $seminar-green-color;
  //   padding: 0 80px 0 30px;
  //   color: $white;
  //   line-height: 60px;
  //   text-transform: uppercase;
  //   font-size: 20px;
  //   position: relative;
  //   margin-top: 50px;
  //   svg {
  //     position: absolute;
  //     top: 20px;
  //     right: 50px;
  //     transition: all 0.5s linear;
  //   }
  //   &:hover {
  //     svg {
  //       right: 20px;
  //       transition: all 0.5s linear;
  //     }
  //   }
  // }
  .uploadfile-wrapper{
    position: relative;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  button#custom-button{
    background: transparent;  /* $seminar-green-color */
    padding: 0 30px;
    color: $white;
    line-height: 25px;
    text-transform: capitalize;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 0;
    text-decoration: underline;
    &:hover{
      color: $seminar-green-color;
    }
    @media (max-width: 460px) {
      font-size: 18px;
      padding: 0 10px;
      right: unset;
      left: 10px;
    }
  }
  #custom-text {
    display: block;
    padding: 15px 0 15px 20px;
    color: #fff;
    border: 1px solid rgba($color: #fff, $alpha: .2);
    @media (max-width: 460px) {
      font-size: 16px;
      padding: 15px 0 15px 110px;
    }
  }
}
.cvsupport {
  display: inline-block;
  background: url(../images/cvsupport.png) no-repeat center center;
  background-size: cover;
  color: $white;
  text-align: center;
  width: 100%;
  h2 {
    font-size: 60px;
    margin-bottom: 30px;
    font-weight: 900;
  }
  p {
    font-size: 30px;
    margin-bottom: 30px;
  }
  // a {
  //   display: inline-block;
  //   padding: 0 80px 0 20px;
  //   line-height: 60px;
  //   font-size: 18px;
  //   background: $seminar-green-color;
  //   color: $white;
  //   text-decoration: none;
  //   position: relative;
  //   text-transform: uppercase;
  //   svg {
  //     position: absolute;
  //     top: 20px;
  //     right: 50px;
  //     transition: all 0.4s linear;
  //   }
  //   &:hover {
  //     svg {
  //       right: 20px;
  //       transition: all 0.4s linear;
  //     }
  //   }
  // }
}
.position-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba($color: #000000, $alpha: 1);
  padding: 50px 0 50px 120px;
  max-height: 200px;
  transition: max-height 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  
  .position-name {
    width: 50%;
    h3 {
      font-size: 30px;
      color: $dark-blue-color;
    }
  }
  .position-location {
    width: 100%;
    span {
      color: $slider-active-green;
    }
    .acc-desc {
      max-height: 90px;
      overflow: hidden;
      transition: max-height 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      @media screen and (max-width:992px) {
        max-height: 80px;
      }
    }
    p {
      color: $black-color;
      padding: 0;
      // max-height: 100px;
      // overflow: hidden;
    }
    // a {
    //   background: var(--light-green);
    //   padding: 0 60px 0 30px;
    //   line-height: 60px;
    //   color: $white;
    //   display: inline-block;
    //   margin-top: 50px;
    //   text-decoration: none;
    // }
  }
  .accordionbtn {
    width: 30%;
    .course-accordion {
      background-color: transparent;
      color: $black-color;
      cursor: pointer;
      padding: 8px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 22px;
      font-weight: 600;
      transition: 0.4s;
      font-family: "Raleway";
      line-height: 1.5em;
      text-transform: none;
      letter-spacing: 0px;
      font-weight: 600;
      font-style: normal;
      display: block;
      &.minus {
        &::after {
          content: "-";
          color: $slider-active-green;
          font-weight: bold;
          float: right;
          margin-left: 5px;
          font-size: 50px;
          //background-color: $slider-active-green;
          height: 4px;
          width: 25px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &::after {
        content: "\002B";
        color: $slider-active-green;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        font-size: 50px;
      }
      &.active,
      &:hover {
        //background-color: rgba(166,166,166,0.6);
      }
      &.active {
        &::after {
          content: "\2212";
        }
      }
    }
  }
}


@media screen and (max-width: 992px) {
  .locations--name-wrapper
   {
    display: none !important;
   }
  .arabic {
    .careerMainPage {
      .careers-whowe {
        .careersabout-content {
          padding-right: 0;
        }
      }
      .future-container {
        .future-content-wrapper {
          padding: 100px 0px 0 0px;
        }
      }
    }
  }
  .careerMainPage {
    .padding-tb {
      padding-bottom: 0px !important;
    }
    .careers-whowe {
      .posRel {
        .careersabout-img {
          position: unset;
          margin-top: 50px;
          .img-fluid {
            max-width: 100%;
          }
        }
      }
    }
    .carrers-wrapper .careercarousel-wrapper h2{
      padding-left: 0px !important;
    }
    .carrers-wrapper {
      overflow: visible;
      .our__solutions {
        .container {
          padding: 0;
        }
        .pagination__list {
            padding-left: 50px;
            margin-bottom: 0;
          ul {
            padding-left: 0px;
          }
        }
      }
      a.button {
        padding: 0 20px;
        margin-left: 0;
        margin-top: 0;
      }
      h2 {
        margin: 0 0px 30px;
        font-size: 24px !important;
        letter-spacing: 1px !important;
        line-height: 40px;
        padding-left: 70px;
      }
      h2::before {
        left: 30px;
      }
      h2::after {
        width: 40px;
      }
      p {
        padding-left: 0;
        padding-bottom: 50px;
        margin: 0 0px;
        font-size: 18px;

      }
    }
    
    .future-container {
      .bullets-wrapper {
        padding: 30px 0px 30px 0px;
      }
      .bullets-points {
        .bullets-points-number {
          font-size: 27px;
        }
        .bullets-pointscontent {
          font-size: 20px;
        }
      }
      .future-img {
        max-width: 100px;
      }
      .future-images-wrapper {
        text-align: center;
      }
      .future-container {
        .future-content-wrapper {
          padding: 100px 0 0 0px;
        }
      }
    }
    .future-content-wrapper {
      padding: 100px 0 0 0px;
    }
    .initiatives {
      border-top: none;
      border-bottom:none;
      .initiative-leftcontent {
        padding: 30px 0 0 0;
      }
    }
    .applyform-conatiner {
      padding-left: 0px;
      padding-top: 0px;
    }
    .benefits-container {
      padding-left: 0px;
      padding-top: 0px;
    }
    .careercarousel-wrapper {
      position: unset;
      width: 100%;
      padding: 40px 30px 0px 30px;
      h2 {
        text-align: center;
      }
    }
    .slick-slide {
      .careers-conatiner {
        text-align: center;
        padding-right: 0px;
        h3 {
          &::before {
            left: 50%;
            transform: translateX(-50%);
          }
        }
        img {
          margin: auto;
        }
      }
    }
    .careercarousel-wrapper {
      .careers-carousel {
        .slick-dots {
          text-align: center;
          bottom: 80px;
        }
      }
    }
    .success-story {
      
      .story-wrapper {
        background: url('../images/careers-quote.png') no-repeat right 0px;
        background-size: 90px;
        padding: 50px 0px 0 0;
        .story-title {
          margin: 0px 0 0 0px;
        }
      }
      .posRel {
        .story-img {
          position: unset;
          .img-fluid {
            max-width: 100%; 
          }
        }
      }
    }
    .jobposition-wrapper {
      h2 {
        margin: 0 0px 30px;
        font-size: 18px;
        letter-spacing: 3px;
        line-height: 40px;
      }
      .position-wrapper {
        padding: 50px 0 50px 0px;
        flex-direction: column;
        position: relative;
        min-height: 270px;
        background: $white;
        .position-name {
          width: 85%;
          h3 {
            margin-bottom: 10px;
            font-size: 23px;
          }
        }
        .position-location {
          p {
            // max-height: 65px;
            font-size: 14px;
            margin-top: 10px;
          }
        }
        .accordionbtn {
          width: 100%;
          position: absolute;
          .course-accordion {
            display: inline-block;
          }
        }
      }
    }
    .cvsupport {
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 18px;
      }
    }
  }
  
}


.hero-D{
  display: block;
  
}
.hero-M{
  display: none;
 
}

@media screen and (max-width: 450px) {
  .hero-D{
    display: none !important;
    
    
  }
  .hero-M{
    display: block !important;
    // height: 100% !important;
  }

   
   .herobanner .herobanner-content .herobanner-topheading 
{
  margin-top: 500px !important;
    h2{
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 30px;
      padding: 0px 30px 0 20px;
     }
     h1{
      font-size: 30px;
      font-weight: 900;
      line-height: 40px;
      padding: 0px 30px 0 20px;
     }
   }
  //  .herobanner .herobanner-content .herobanner-topheading-Career{
   
  //  }

  .careerMainPage{
    .success-story{
      .story-wrapper{
        padding: 70px 0 0 0;
      }
    }
  }  
}

.pagination-btn,
.success-button .pagination-btn {
    position: relative;
    bottom: -70px;
    background-color: #122D6E;
    left: -100px ;
    @media screen  and (max-width:992px) {
      left: 0px;
    }
}
.carousel-border-bottom{
  border-bottom: 1px solid #CCCCCC;
}

.success-story button,
.success-button button
{
  position: relative;
  width: auto ;
  height: auto ;
  top: 10px;
}
.success-story button::before,
.success-button button::before
{
  background-color: rgb(97, 210, 129);
  border-radius: 50%;
  border: 8px solid rgb(255, 255, 255);
  padding: 33px;
  color: rgb(255, 255, 255);
  transition: background-color 200ms ease 0s;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1 !important;
  &:hover{
    background-color: #61d281c5;
  }
 
}

.success-button  button.slick-disabled::before{
  background-color: #D8DEE5 !important;
}
.success-story  button.slick-disabled::before{
  background-color: #D8DEE5 !important;
}

.success-story{
  .slick-track{
    display: flex;
  }
  .slick-slide{
    width: 100% !important;
    margin-right: 15px;
    box-sizing: border-box !important;
  }
  .slick-slider {
    // margin-right: -300px;
    margin-top: 50px;
    @media (max-width: 992px) {
      margin-right: 0;
      margin-top: 0;
    }
  }
}

.pagination-btn{
  position: relative;
}
#currentImageCount{
  font-family: 'Poppins', sans-serif;
  color: #81C357;
}
#totalImageCount, .slash{
  font-family: 'Poppins', sans-serif;
  color: #B9C0D1;
}

.story-section-wrapper{
  display: none;
}

.story-section-wrapper.active{
  display: flex;
}
