.news-wrapper{
    padding: 50px 0 200px;
}
.search-container{
    position: relative;
}
.custom-input{
    padding: .6rem;
    background-color: #122D6E;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 100%;
    color: #fff;
    margin-top: 7px;
}
input.custom-input{
        padding: .6rem;
        background-color: #122D6E;
        border: 1px solid #fff;
        border-radius: 4px;
        width: 100%;
        color: #fff;
        margin-top: 7px;
        padding-left: 50px;
}
.custom-input::placeholder{
    color: #fff;
    padding-left: 40px;
}
.search-icon{
    position: absolute;
    top: 57%;
    left: 20px;
}
.news-update-section label{
    font-size: 14px;
    font-weight: 400;
}
.news p {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    padding: 0;
}
.read-more{
    cursor: pointer;
    background-color: transparent;
}
.read-more span{
    color: #81C357 !important;
    margin-right: 12px;
}
.read-more:not(.collapsed) .arrow img{
    rotate: -90deg;
}
.custom-card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 10px;
  }
  
  .custom-card-container:nth-child(1) {
    margin-top: -220px;
  }
  
 
  .custom-card-container .card {
    flex-basis: 45%;
    border: none;
    width: 85%;
    margin: 0 auto;
    max-height: unset;
    animation: cardAnimation 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  }



@keyframes cardAnimation {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 100%;
      opacity: 1;
    }
  }
 

.card .card-body > div p {
    color: #747B85;
}
.custom-card-container span{
    color: #707070;
}
.underline{
    text-decoration: underline;
}
.custom-card-container .subject{
    color: #122D6E;
}
.custom-card-container .description{
    color: #747B85;
}
.loadmore-button{
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    background: var(--light-green);
    color: var(--white);
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
    font-family: var(--poppins);
    line-height: 50px;
    text-decoration: none;

    &:hover{
        color: #ffffffd3;
    }
}
.join-conversation{
    padding: 2rem;
    text-align: center;
}
.join-conversation h4 {
    color: #81C357;
    font-weight: 300;
}
.join-conversation h3{
    font-weight: bolder;
    color: #000;
}

.img-section {
    padding: 0 !important;
    margin: 0 !important;
}
.img-section img {
    padding: 0 !important;
    margin: 0 !important;
    width: 150px;
}
.cursor-pointer{
    cursor: pointer;
}
@media only screen and (max-width: 650px) {
    .custom-card-container .card{
        flex-basis: 90%;
    }
}